[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/polliard
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/polliard
	label-Verified = -1..+1 group user/polliard
	push = group user/polliard
	read = group user/polliard
	rebase = group user/polliard
	removeReviewer = group user/polliard
	submit = group user/polliard
[access "refs/heads/*"]
	create = group user/polliard
	push = +force group user/polliard
	pushMerge = group user/polliard
	read = group user/polliard
[access "refs/tags/*"]
	push = group user/polliard
	push = +force group user/polliard
